@import "../../assets/mixins";

.legal {
	margin-top: 8rem;
	@include tablet {
		margin-top: 1.2rem;
	}
	&__back {
		display: none;
		& svg {
			fill: var(--theme-dark);
			transition: fill .4s linear;
		}
		@include tablet {
			display: flex;
		}
	}
	&__title {
		font-size: 1.4rem;
		text-transform: uppercase;
		@include mobile {
			font-size: 1.1rem;
		}
	}
	&__card {
		background-color: var(--theme-light);
		box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
		min-height: 50rem;
	}
}
.noTransition {
	transition: none;
}